fastapi
uvicorn
requests
python-dotenv

mysql-connector-python

langchain
langchain-community
langchain-core

google-generativeai

faiss-cpu
langchain-huggingface
docx2txt

python-docx

tiktoken

httpx